* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  color: #fff;
  font-family: "Exo", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: #000;
  border-bottom: 4px solid #c70e0e;
}
.header nav {
  margin: 0 12rem;
  height: 4.8rem;
}
.header nav ul {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul li {
  height: 3.8rem;
}
.header nav ul li img {
  height: 3.8rem;
}

main {
  position: relative;
  top: 4.8rem;
}
main section {
  text-align: center;
  background-color: #000;
}
main section:nth-child(2) {
  background-color: #222;
  padding: 3.5rem 0;
}
main section:nth-child(2) h1 {
  margin: 0 0 3.5rem;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
}
main .bg-container {
  margin: 0 auto;
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-rows: 30% 70%;
  align-items: center;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
main .count-container {
  text-align: center;
}
main .count-container h3 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
main .photo-container {
  width: 50rem;
  margin: 0 auto;
}
main .timer {
  display: flex;
  justify-content: center;
}
main .timer__item {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 0.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .timer__item p {
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
}
main .timer__item p:first-child {
  font-size: 1.8rem;
  font-weight: 900;
}
main .timer__item p:nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
}
main .videos-container {
  display: flex;
  justify-content: center;
}
main .video-item {
  object-fit: cover;
  margin: 0 1rem;
}
main .video-item button {
  padding: 0;
  overflow: hidden;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .video-item button:hover {
  cursor: pointer;
}
main .video-item img {
  width: 100%;
}
main .video-item p {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
main .video-item embed {
  width: 15rem;
  height: 15rem;
}

.footer-container {
  position: relative;
  top: 4.8rem;
  height: 7rem;
  background-color: #000;
}
.footer-container > div {
  height: 100%;
  display: grid;
  margin: 0 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center */
  align-content: center;
  justify-items: center;
}
.footer-container > div div {
  /* justify-self: center */
  align-self: center;
}

.icon-container {
  display: flex;
  gap: 0.8rem;
}

.icon-item {
  background-color: #29c0d4;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #1877f2;
}

.youtube {
  background-color: #ff0000;
}

/*# sourceMappingURL=index.css.map */
