
.header
    position: fixed
    width: 100%
    z-index: 50
    background-color: #000
    nav
        margin: 0 8rem
        height: 3rem
        ul
            height: 3rem
            display: flex
            justify-content: space-between
            align-items: center
            li
                height: 2.5rem
                img
                    height: 2.5rem
