
main
    .principal
        position: relative
        top: 3rem
    .bg-container
        margin: 0 auto
        width: 90%
        height: 400px
        background-image: url("../assets/background.jpg")
        background-repeat: no-repeat
        background-size: cover
        overflow: hidden
    .photo-container
        width: 50%
        margin: 0 auto
        height: 200px
        overflow: hidden
        img
            width: 100%
            object-fit: contain
